*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;

}

body{
    background-color: rgb(229, 229, 255);
}
.sidebar{
    height: 100vh;
    width: 100px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 999;
}

.logo{
    border-radius: 50%;
}

.logo img{
        width: 60px;
            border-radius: 50%;


}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 20px 0px;
}

.nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-part{
    margin-left: 130px;
    margin-right: 30px;
}
.top-details{
    display: flex;    
}
.top-bar{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    align-items: center;
}

.top-menus{
    display: flex;
    gap: 10px;
    align-items: center;
}

#select-option{
        height: 40px;
        width: 100px;
}

#search{
    height: 40px;
    width: 420px;
    border-radius: 10px;
    border: none;
    padding-left: 45px;

}

#close{
    display: none;
}

#toggle{
    display: none;
}


.view-card-container {
    width: 75%;
    padding-right: 20px;
}


.followers,.likes,.comments{
    padding: 20px;
    text-align: start;
    background-color: white;
    border-radius: 10px;
    width: 30.7%;
}

.group-cards{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

.follower-title{
    display: flex;
    gap: 15px;
}

.count{
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0px;
}

.followers{
    grid-area: follow;
}

.likes{
    grid-area: like;
}

.comments{
    grid-area: comment;
}

.profile-detail{
    grid-area: profile;
    background-color: white;
    border-radius: 10px;
}

.scheduled-post{
       grid-area: schedule;
    background-color: white;
    border-radius: 10px
}

.profile-title{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.profile-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.profile-name{
    font-size: 16px;
    font-weight: 600;
}

.profile-id{
    font-size: 13px;
    color: gray;
}

.grey{
        font-size: 13px;
    color: gray;
}

.nav-text{
    display: none;
}



.profile-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid dodgerblue;
}

.All-counts{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    text-align: center;
    
}

.total-count span{
    font-weight: 600;
}

.total-count p{
        padding-top: 5px;
}

.graph {
  grid-area: graph;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 20px;
}

 .graph canvas {
  width: 100% !important;
  height: 300px !important;
}

.graph-topbar{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}


.post{
    display: flex;
    gap: 10px;
    background-color: rgb(235, 234, 234);
    border: 1px solid rgb(235, 234, 234);
    margin-bottom: 15px;
    border-radius: 10px;
}

.post-title{
    padding-bottom: 10px;
}

.post img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.right-side-text{
    width: 30%;
}

.profile-detail{
    padding: 0px 20px;
    margin-bottom: 20px;
}
.scheduled{
    padding: 15px;
}

.profile-title p{
    font-size: 20px;
    font-weight: 600;
}

.graph-header{
    font-size: 20px;
    font-weight: 600;
}

.follower-title img{
    height: 16px;
    object-fit: cover;
}
.profile-title img{
    height: 20px;
    object-fit: cover;
}


@media (max-width:800px){
    .sidebar{
    width: 80px;
}

.main-part{
    margin-left: 90px;
    margin-right: 10px;
}

#search{
    height: 40px;
    width: 320px;
    border-radius: 10px;
    border: none;
    padding-left: 45px;

}
.profile-title p{
    font-size: 16px;
    font-weight: 600;
}
.profile-detail{
    padding: 0px 15px;
    margin-bottom: 20px;
}

.graph-topbar{
    display: flex;
    gap: 2px;
    justify-content: start;
}
}


@media (max-width: 480px) {


    .nav1{
        display: flex;
        gap: 15px;
        align-items: center;
        padding-left: 15px;
    }

    .searchbar h1{
        font-size: 20px;
    }

    .msg{
        display: block;
    }

    .msg img{
        width: 25px;
    }

    .top-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    }


    .top-details {
        flex-direction: column;
    }

    .profile-detail {
        order: 1;   

    }

    .scheduled-post {
        order: 2;
   
    }

    .view-card-container {
        order: 3;   
        width: 100%;
        padding-right: 0;
    }

    .followers,.likes,.comments{

    width: 100%;
}


    .group-cards{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.main-part{
    margin-left: 15px;
    margin-right: 15px;
}
.right-side-text{
    width: 100%;
}
.graph-topbar{
    flex-direction: column;
    gap: 10px;

}

.sidebar{
    height: 100vh;
    width: 200px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}




.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    align-items: start;
    padding: 20px 10px;
    width: 100%;
}

.nav-list{
    width: 100%;
    align-items: start;
}

.sidebar.open {
    transition: all 0.3s ease-in-out;
    transform: translateX(0); 
}

.nav-text.show{
    display: block;
}

.logo-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 15px;
}

#close{
    display: block;
    width: 20px;
}

#toggle{
    display: block;
    background:none;
    border: none;
}

.profile-title{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.post{

    margin-bottom: 15px;

}

.scheduled{
    padding-bottom: 15px;
}

#day{
    width: fit-content;
}

}





